node_modules
.next
out
.env
.env.local
.secrets/
.env.production
.env*.local
.env*
!.env.example
vercel
.DS_Store
*.log
*.dump
*.trace.zip
.playwright-browsers
test-results
playwright-report
*.tsbuildinfo
